body {

    background-color: #87CEEB;
}

img {
    width: 800px;

    margin-top: 106px;
    margin-left: 10px;
}

.achtergrond {


    width: 500px;
    padding-left: 700px;
    padding-top: 60px;
    position: relative;


}

.titel {

    padding-left: 130px;
    padding-top: 100px;
    position: absolute;
}

.intro {


    position: relative;
    margin-top: 200px;
    margin-right: 300px;
    padding-right: 600px;
}

.navigatie {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;

}

.navigatie ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

.navigatie ul li a {
    text-decoration: none;
    color: #FFF;
    margin-top: 100px;
}

.navigation ul li a.button,
a.button {
    background-color: #2a406a;
    padding: 10px 20px;
    color: #FFF;
    border-radius: 7px;
    font-weight: bold;
    text-decoration: none;

}

.navigatie ul {

    margin: 2;
    padding: 10;
}